<!DOCTYPE html>

<html ng-app>
    <head>
        <title>HelloWordAngularJs</title>
    </head>
    <body ng-init="name='Jame'">
        <div ng-cloak>
                <div ng-hide="isHidden">
                    First Name: <input type="text" ng-model="name"/>
                    {{name}}
                    <span ng-bind="name"></span>
                </div>
                <br />
                Hide: <input type="checkbox" ng-model="isHidden" />
                <br />
                <button ng-click="name='Maical'">Click</button>
        </div>
        <div ng-init="names=['Dave', 'Jeff', 'Defy']">
            <ul>
                <li ng-repeat="name in names">{{name}}</li>
            </ul>
        </div>
        <br />
        <div ng-init="people=[{name: 'Dave', city: 'Barlin'}, {name: 'Jeff', city: 'London'}, {name: 'Defy', city: 'Singapore'}]">
            <table>
                <tr>
                    <td>Name</td>
                    <td>City</td>
                </tr>
                <tr ng-repeat="person in people">
                    <td>{{person.name}}</td>
                    <td>{{person.city}}</td>
                </tr>
            </table>
        </div>
        <br />
        <h4>Pipe | Filter Example</h4>
        Filter By All: <input type="text" ng-model="filterValue" />
        Filter By Name: <input type="text" ng-model="filterName.name" />
        <div ng-init="customers=[{joinedDate: '2000-12-12', name: 'John', city: 'New York', orderTotal: 234.443}, {joinedDate: '2023-01-30', name: 'Jin', city: 'Amsterdam', orderTotal: 99.989}]">
            <table>
                <tr>
                    <td>Name</td>
                    <td>City</td>
                    <td>Order Total</td>
                    <td>Joined Date</td>
                </tr>
                <tr ng-repeat="cus in customers | filter: filterValue | filter: filterName | orderBy: 'name'">
                    <td>{{cus.name}}</td>
                    <td>{{cus.city}}</td>
                    <td>{{cus.orderTotal | currency}}</td>
                    <td>{{cus.joinedDate | date}}</td>
                </tr>
            </table>
        </div>
        <h4>Sort Example</h4>
        <div ng-init="customers2=[{joinedDate: '2012-06-21', name: 'Dan', city: 'Chicago', orderTotal: 34.1256}, {joinedDate: '2000-12-12', name: 'John', city: 'New York', orderTotal: 234.443}, {joinedDate: '2023-01-30', name: 'Jin', city: 'Amsterdam', orderTotal: 99.989}]">
            <table>
                <tr>
                    <td ng-click="sortByValue='name'; reverseValue=!reverseValue">Name</td>
                    <td ng-click="sortByValue='city'; reverseValue=!reverseValue">City</td>
                    <td ng-click="sortByValue='orderTotal'; reverseValue=!reverseValue">Order Total</td>
                    <td ng-click="sortByValue='joinedDate'; reverseValue=!reverseValue">Joined Date</td>
                </tr>
                <tr ng-repeat="cus in customers2 | orderBy:sortByValue:reverseValue">
                    <td>{{cus.name}}</td>
                    <td>{{cus.city}}</td>
                    <td>{{cus.orderTotal | currency}}</td>
                    <td>{{cus.joinedDate | date}}</td>
                </tr>
            </table>
        </div>
        <script src="angular.js" />
    </body>
</html>